<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World!</h1>
  <ul>
  {% for entry in entries %}
  <li>
    <p>{{ entry.title }}</p>
    <p>{{ entry.body | markdown }}</p>
  </li>
  {% endfor %}
  </ul>
  <form method="post" action="/post">
    <p>
      <label for="title">Title</label>
      <input name="title" id="title">
    </p>
    <label for="body">Body</label>
    <textarea name="body" id="body" rows="3"></textarea>
    <button type="submit">Post</button>
  </form>
</body>
</html>